.title_color{
    color:#0370a6;
}
.content{
    float: left;
    width:100%;
    background-color: rgb(247,249,250);
}
.content_fakemargin{
    margin-left: 190px;
}
.main_fakemargin{
    margin-right:300px;
    height:0px;
}
.main_wrap{
    float:left;
    width:100%;
}
.explane{
    padding:32px 40px;
}
.explane h3{
    display: inline-block;
    margin-right: 15px;
}
.explane span{
    color:rgb(189,190,191);
    font-size: 14px;
    font-weight: 600;
}
.setting{
    float:right;
    margin-top: 15px;
    width: 30px;
    height: 30px;
    line-height: 27px;
    display: inline-block;
    background-color:white;
    color:rgb(189,190,191);
    text-align: center;
}
.rightMenu{
    float:right;
    width:300px;
}

/* mainList */
.mainList ul{
    padding:0px 30px;
}
.mainList ul li{
    padding:15px 30px 0px 30px;
    height: 70px;
    background-color: white;
    border:1px solid #e3e3e3;
}
.mainList ul li img{
    float:left;
    margin-right:20px;
    border-radius: 35px;
    width: 50px;
}
.Type{
    width: 60px;
    display: inline-block;
    vertical-align: top;
    margin:5px 15px 0px 0px;
    text-align: center;
    color:white;
}
.Type p{
    font-size: 14px;
    padding: 2px 0px;
}
.TypeGreen{
    background-color: #4aadb4;
    border:1px solid #4aadb4
}
.TypePurple{
    background-color: #7684b5;
}
.TypeWhite{
    color: #4aadb4;
    border:1px solid #4aadb4
}
.list_info{
    display: inline-block;
    vertical-align: top;
    margin-top:5px;
}
.list_info h4{
    margin:0px;
}