.none{
    display: none;
}
.block{
    display: block;
}
.sidebar{
    width:190px;
    height: 100%;
    background-color:rgb(47,48,51);
    float:left;
    position: absolute;
    top:0px;
    bottom:0px;
}

.wrap li a{
    color:white;
}
.wrap li div{
    padding:10px 25px;
}
.wrap li div:hover{
    background-color: #3d3e42;
}
.wrap li div span{
    margin-left:15px;
    height:30px;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
}
.wrap > li{
    color:#dddddd;
    font-size: 14px;
}
.wrap_item{
    background-color: #3d3e42 ;
    padding:15px 0px;
}
.wrap_item li{
    padding-left:80px;
    padding-top:3px; 
}
.wrap_item li a{
    width:100%;
    height: 100%;
    display:inline-block;
    font-size:12px;
    color:#dddddd;
}
.wrap_item li a:hover{
color:white;
zoom:1.1;
}